body {
    background-color: grey;
}

#wrapper {
    background-color: #02203c;
}

#logo {
    height: 30px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid white;
    rotate: 45deg;
}

h1 {
    rotate: -45deg;
    color: white;
    padding-left: 200px;
}