#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
}

#systems-expert {
    margin-top: 10px;
    background-color: #890023;
    width: 50%;
    order: 0;
}
  
#ml-expert {
    background-color: #f37f1b;
    height: 75px;
    width: 30%;
    order: 1;
    margin-left: auto;
}

#algo-expert {
    background-color: #626ee3;
    width: 75%;
    order: 2;
    margin-left: auto;
    margin-right: auto;
}
  

  
#frontend-expert {
    background-color: #11967e;
    width: 40%;
    order: 3;
    align-self: end;
}
  
#programming-expert {
    background-color: #f21b3f;
    width: 60%;
    height:75px;
    order: 4;
    margin-left: 0px;
}
  
.product {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    font-weight: bold;
    margin-bottom: 24px;
}
