body {
    background-color: grey;
}

#wrapper {
    background-color: #02203c;
}

#logo {
    height: 10px;
    width: 10px;
    margin: 0 50px;
    margin-top: 50px;
}


#logo, #logo::before, #logo::after {
    border: 5px solid white;
    border-radius: 50%;
}

#logo::before, #logo::after {
    content: '';
    display: block;
    position: fixed;
    width: 100px;
    height: 30px;
}

#logo::before{
    transform: translate(-50px, -15px) rotate(-45deg);
}

#logo::after{
    transform: translate(-50px, -15px) rotate(45deg);
}


h1 {
    font-family: monospace;
    font-size: 48px;
    color: white;
    padding-left: 120px;
    margin-top: 0px;
    padding: 50px;
}