body {
    background-color: rgb(18, 39, 53);
  }
  
nav {
    background-color: #6e072d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;   
    height: 54px;


}

ul {

    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;

}

li {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 27px;
    padding-right: 27px;
    border-right: 2px solid white;

}

li:last-child {
    border-right: none;
}


li:hover {
    background-color: #b90e4d;
    cursor: pointer;
}