.wrapper {
    width: 280px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightgrey;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    margin: 0;
    margin-bottom: 10px;
}

img {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
}

p {
   margin-left: 10px;
}

span {
    font-size: 12px;
    
}