#wrapper {
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgrey;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    margin: 0;  
    margin-bottom: 10px;  
}

.notification {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    height: 122px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
}

img {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
}

.user {
    font-weight: bold;
}

p {
    margin:0;
    width: 148px;
    margin-left: 10px;
}

.time {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    margin: 0;
    text-align: right;
}

button {
    width: 280px;
    background-color: #02203c;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
}