.head {
    background-color: #ffc0cb;
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 50%;    
    border: 5px solid black;
    display: flex;
    align-items: center;    
    flex-direction: column;
    justify-content: space-between;
}

.ear {
    background-color: #ffc0cb;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: -1;
    border: 5px solid black;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.head .ear {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;  
    margin: 15px;  
}



.eye {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black
}

.pupil {
    background-color: black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.nose {
    background-color: #f57187;
    height: 60px;
    width: 100px;
    border-radius: 35%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: row;
    justify-content: space-around;
}

.nostril {
    background-color: black;
    height: 30px;
    width: 25px;
    border-radius: 50%;
}