:root {
    --wrapper-border-radius: 12px;
    --wrapper-padding: 12px;
    --wrapper-background-color: #e0e0e0;
  
    --circle-width: 30px;
    --circle-radius: calc(var(--circle-width) / 2);
    --circle-border-width: 4px;
    --circle-bottom-margin: 8px;
    --circle-font-size: 24px;
  
    --selected-background-color: #279600;
  
    --divider-line-height: 4px;
  
    --product-offering-height: 40px;
    --product-offering-padding: 12px;
    --product-offering-vertical-margin: 12px;
    --product-offering-border-radius: 8px;
    --product-offering-left-border-size: 5px;
  
    --label-left-margin: 4px;
    --blue-product-color: #626ee3;
    --red-product-color: #890023;
    --orange-product-color: #f37f1b;
    --green-product-color: #11967e;
  
    --button-padding: 12px;
    --button-font-size: 16px;
    --button-border-radius: 8px;
    --button-background-color: #02203c;
  }
  

  body {
    background-color: grey;
  }

  #wrapper {
    padding: 12px;
    border-radius: 12px;
    background-color: #e0e0e0;
  }

  ol li {
    background-color: white;
    width: 30px;
    margin-bottom: 8px;
    font-size: 24px;
    border: 4px solid black;
    border-radius: 50%;
  }

  .selected {
    background-color: #279600;
    width: 30px;
    margin-bottom: 8px;
    font-size: 24px;
    border: 4px solid black;
    border-radius: 50%;
    color: white;
  }

  ul {
    padding: 0;
    margin: auto;
  }

  ul li {
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 8px;
    font-weight: bold;
    background-color: white;
  }

  ul label {
    margin-left: 4px;
  }