

body {
    background-color: darkgrey;
}


.red {
    background-color: #ff0000;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    align-items: center;
}

.orange {
    background-color: #ffa500;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    align-items: center;
}

.yellow {
    background-color: #ffff00;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}



.green {
    background-color: #008000;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}




.blue {
    height: 100px;
    width: 100px;
    background-color: #0000ff;
    border-radius: 50%;
}


.purple {
    background-color: #800080;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
