/*  Write your code here. */

#outer {
    height: 250px;
    width: 250px;
    border:  25px solid #ff0000;
    background-color: #ffa500;
    border-radius: 50%;
    display: flex;   
    justify-content: center;
    align-items: center;
}

#middle {
    
    height: 150px;
    width: 150px;
    border: 25px solid #ffff00;
    background-color: #008000;
    border-radius: 50%;
    display: flex;   
    justify-content: center;
    align-items: center;
}

#inner {
    height: 50px;
    width: 50px;
    border: 25px solid #0000ff;
    background-color: #800080;
    border-radius: 50%;
    display: flex;   
    justify-content: center;
    align-items: center;
}
