.head {
    height: 150px;
    width: 150px;
    margin: 50px;
    background-color: #a4d9eb;
    border: 5px solid #9bbcc2;
    border-radius: 20px;
    position: relative;
}

.light {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -45px 0 0 60px;
    position: absolute;
}

.bulb {
    width: 30px;
    height: 30px;
    background-color: #ffa500;
    border-radius: 50%;
}

.stick {
    width: 10px;
    height: 15px;
    background-color: #808080;
    margin-top: -1px;
    z-index: -1;
}

.ears {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(100%);
}

.ear {
    width: 10px;
    height: 50px;
    background-color: #c90a0a;
}

.ear:first-child {
    margin-left: -15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.ear:last-child {
    margin-right: -15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.eyes {
    display: flex;
    justify-content: space-around;
    margin: -25px 15px;
}

.eye {
    
    justify-content: space-between;
    height: 30px;
    width: 30px;
    top: 25px;
    background-color: white;
    border: 5px solid #00b3ff;
    border-radius: 100%;
}

.nose {
    display:flex;
    justify-content: center;
    align-items:center;
    height: 0px;
    width: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #c90a0a;
    position:absolute;
}

.mouth {
    width: 100px;
    height: 25px;
    background-color: #dedede;
    border: 1px solid black;
    border-radius: 20px;
    margin: -12px auto;
    display:flex;
    justify-content: space-around;
}

.teeth {
    width: 5px;
    background-color: black;
}