.head {
    height: 150px;
    width: 150px;
    margin: 50px;
    background-color: #a4d9eb;
    border: 5px solid #9bbcc2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bulb {
    width: 30px;
    height: 30px;
    background-color: #ffa500;
    border-radius: 100%;
}

.stick {
    width: 10px;
    height: 15px;
    background-color: #808080;
}

.ears {
    width: 10px;
    height: 50px;
    background-color: #c90a0a;
}

.ear:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.ear:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
